
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/bootstrap/scss/variables";
@import "../../bower_components/bootstrap/scss/mixins";
@import "../../bower_components/bootstrap/scss/normalize";
@import "../../bower_components/bootstrap/scss/reboot";
@import "../../bower_components/bootstrap/scss/type";
@import "../../bower_components/bootstrap/scss/images";
@import "../../bower_components/bootstrap/scss/grid";
@import "../../bower_components/bootstrap/scss/tables";
@import "../../bower_components/bootstrap/scss/forms";
@import "../../bower_components/bootstrap/scss/buttons";
@import "../../bower_components/bootstrap/scss/dropdown";
@import "../../bower_components/bootstrap/scss/nav";
@import "../../bower_components/bootstrap/scss/navbar";
@import "../../bower_components/bootstrap/scss/breadcrumb";
@import "../../bower_components/bootstrap/scss/card";
@import "../../bower_components/bootstrap/scss/utilities";
@import "../../bower_components/bootstrap/scss/utilities-spacing";
@import "../../bower_components/bootstrap/scss/utilities-responsive";

@import "header";
@import "breadcrumb";
@import "models";

body {
    background: #f2f2f2;
    font-family: 'Raleway', sans-serif;
}

main.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

.featured {
    color: $brand-warning !important;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .25rem;
    vertical-align: middle;
    content: "";
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
}

a.featured {
    &:hover {
        color: tint($brand-warning, 40%) !important;
    }

    &:focus {
        color: tint($brand-warning, 50%) !important;
    }
}
