
ol.breadcrumb
    li.dropdown
        a(href="#", data-toggle="dropdown").dropdown-toggle="Products"
        
        .dropdown-menu
            input(type="text", placeholder="Search in Products...")
            a(href="#").dropdown-item="Eletronics"
    li.dropdown
        a(href="#", data-toggle="dropdown").dropdown-toggle="Eletronics"
        
        .dropdown-menu
            input(type="text", placeholder="Search in Eletronics...")
            a(href="#").dropdown-item="Photo"
    li.dropdown
        a(href="#", data-toggle="dropdown").dropdown-toggle="Photo"
        
        .dropdown-menu
            input(type="text", placeholder="Search in Photo...")
            a(href="#").dropdown-item="Digital SLR"
    li.dropdown
        a(href="#", data-toggle="dropdown").dropdown-toggle="Digital SLR"
        
        .dropdown-menu
            input(type="text", placeholder="Search in Digital SLR...")
            a(href="#").dropdown-item="Sony"
    li.dropdown
        a(href="#", data-toggle="dropdown").dropdown-toggle="Sony"
        
        .dropdown-menu
            input(type="text", placeholder="Search in Sony...")
            a(href="#").dropdown-item="Cameras"

    li.active="Sony NEX-5N With 18-55mm lens"
