
nav.navbar.navbar-aux
    .container-fluid
        ul.nav.navbar-nav
            li.nav-item
                a(href="#").nav-link="full store directory"
            li.nav-item
                a(href="#").nav-link="your amazon"
            li.nav-item
                a(href="#").nav-link="today's deals"
            li.nav-item
                a(href="#").nav-link="get cards"
            li.nav-item
                a(href="#").nav-link="help"
        ul.nav.navbar-nav.pull-right
            li.nav-item
                a(href="#").featured.nav-link="your prime"
            li.nav-item
                a(href="#").featured.nav-link="wish list"
nav.navbar.navbar-primary
    .container-fluid
        a(href="#", title="Amazon").navbar-brand
            img(src="img/logo.jpg")
        ul.nav.navbar-nav
            li.nav-item
                a(href="#").nav-link="Shopping"
            li.nav-item
                a(href="#").nav-link="Innovation"
            li.nav-item
                a(href="#").nav-link="Entertainment"
            li.nav-item
                a(href="#").nav-link="Community"
        ul.nav.navbar-nav.pull-right
            li.nav-item.nav-item-user
                a(href="#")
                    img(src="http://lorempixel.com/80/80/people/").img.img-circle
                    .wrapper
                        p.
                            Hello, #[span.featured="Alex"]
                        p.
                            Your Account #[span.caret]
            li.nav-item.nav-item-cart
                a(href="#")
                    i.img.fa.fa-shopping-cart
                    .wrapper
                        p="Items in Cart"
                        p.
                            #[span.featured="12"] #[span.caret]
