
.models
    .wrapper.simplebar(data-simplebar-direction="horizontal")
        a(href="#")
            img(src="http://lorempixel.com/80/80/").active
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")
        a(href="#")
            img(src="http://lorempixel.com/80/80/")