extends ./template/_master

block content

    include ./_header
    include ./_models

    main.container-fluid
        .row
            .col-xs-8
                .row 
                    .col-xs-12
                        include ./_breadcrumb
                .row
                    .col-xs-12
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor purus ac elit pretium posuere. Maecenas lacinia, ante ut accumsan lacinia, sem nunc pulvinar erat, at vulputate arcu nisi vitae ante. Nullam iaculis dolor elit, eu efficitur erat vestibulum fringilla. Proin dignissim gravida nibh, sit amet venenatis arcu feugiat id.
            .col-xs-4
                .card.card-inverse.card-warning(style="margin-top:12px")
                    .card-block
                        blockquote.card-blockquote
                            p="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."
                            footer="Donec vitae elit neque cubilia Curae"
        .row
            
