doctype html
html.no-js
    head
        //-base(href="/")
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")

        title Amazon Redesign

        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
        meta(name="author", content="Alex Rohleder")
        meta(name="keywords", content="")
        meta(name="description", content="")
        meta(name="robots", content="index,follow")

        block hassets
            link(type="text/css", rel="stylesheet", href="css/simplebar.css")
            link(type="text/css", rel="stylesheet", href="css/main.css")

    body

        block content

        script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.3.min.js")
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        script(type="text/javascript", src="js/simplebar.js")
        script(type="text/javascript", src="js/main.js")

        link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet", type="text/css")
        link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
